<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/MediaPartner.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ClsTriStateCheckBox.js"></script>
    <script src="~/Scripts/ClsTriStateTreeNode.js"></script>
    <script src="~/Scripts/jquery.custom.validate.js"></script>
    <script src="~/Scripts/jquery.acm.common.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
   <link href="~/Content/homepage.css" rel="stylesheet" />
     @*<script src="~/Scripts/home.js"></script>*@
    @RenderSection("scripts", required: false)
</head>
<body>
    @* <ul>
        <li style="width: 33%">
            <img src="~/Images/logo-header-ACM.png" /></li>
    </ul>
    <div id='cssmenu'>
        <ul>

            //<li style="width:33%"><img src="~/Images/logo-header-ACM.png" /></li>
            <li class='has-sub'><a class="active" id="campaignMenu" href='@Url.Action("campaigndashboard", "campaigndashboard")'><span>Campaigns</span></a>
                <ul>
                    <li><a href='@Url.Action("CampaignView", "CampaignView")'><span>Create new campaign</span></a></li>

                </ul>
            </li>

            <li class='has-sub'><a href='index.html' id="deploymentMenu"><span>Deployment</span></a></li>
            <li class='has-sub'><a id="adminMenu" href="#"><span>Admin</span></a>
                <ul>
                    <li><a href='@Url.Action("DeploymentPeriodDashboard", "DeploymentPeriod")'><span>Deployment</span></a></li>

                </ul>
        </ul>
    </div>*@

    <table style="width:100%">
        <tr class="logo_bar">
            <td class="hdrlogo">
                <a href="/home.aspx">
                    <img src="~/Images/logo-header-ACM.png" border="0" alt="Wells Fargo Brand Central"></a>
            </td>
            
        </tr>
        <tr class="nav_bar">
            <td  class="left" style="width:100%;position: static; z-index: 200;">
                <div class="top_nav_container">
                    <ul class="abs">
                        <li class="first home active" id="campaignTab" style="margin-left:20px;" ><a href='@Url.Action("campaigndashboard", "campaigndashboard")'>Campaign</a></li>
                                
                        <li class="first" id="deploymentTab"><a href="#">Deployment</a></li>
                        <li class="first" id="adminTab"><a href='@Url.Action("DeploymentPeriodDashboard", "DeploymentPeriod")'>Admin</a></li>


                    </ul>
                </div>

            </td>
           
        </tr>
    </table>
   
    @* <div id="masthead" class="html5header c1">
        <div id="mainNav">
            <div id="brand">
                <a href="#">
                    <img alt="Wells Fargo Bank" src="~/Images/logo-header-ACM.png" />
                </a>
            </div>
            <div id="headerTools">
                <nav>
                    <ul>
                        <li><a href="#">Manikandan Janakiraman</a>
                        <li><a href="#">Last Visit: May 10, 2014 </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <nav>
                <div class="html5nav" id="tabNav" role="navigation">
                    <ul>
                        <li class="current"><a href='@Url.Action("campaigndashboard", "campaigndashboard")'>Campaign</a></li>

                        <li>
                            <a href="#" class="tabNavLink" id="tabNavSmallBusiness" name="tabNavSmallBusiness" title="Small Business. Serving businesses with up to $20 million in annual revenue">Deployment</a>
                        </li>
                        <li>
                            <a href='@Url.Action("DeploymentPeriodDashboard", "DeploymentPeriod")' class="tabNavLink" id="tabNavCommercial" name="tabNavCommercial" title="Commercial. Serving businesses with over $20 million in annual revenue">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>*@
    <nav>
        <ul id="fatnav" role="navigation">
            @*  <li id="bankingTab"><a class="navLevel1" href="#banking" aria-haspopup="true" data-navitem="banking">Campaign Details</a></li>
            <li id="loansTab"><a class="navLevel1" href="#loans" aria-haspopup="true" data-navitem="loans">Ads</a></li>
            <li id="insuranceTab"><a class="navLevel1" href="#insurance" aria-haspopup="true" data-navitem="insurance">Display rules</a></li>*@

        </ul>
    </nav>


  @*  <div id="banking" class="navItem" aria-hidden="true" role="region" aria-labelledby="bankingTab">
        <h2 class="hide">Banking</h2>
        <div class="navItemLeft">
            <div>
                <div class="fatNavTitle">
                    <h2>Accounts and Services</h2>
                </div>
                <ul>
                    <li>
                        <a href="/checking/">Checking Accounts</a>
                    </li>
                    <li>
                        <a href="/savings-cds/">Savings Accounts and CDs</a>
                    </li>
                    <li>
                        <a href="/debit-card/">Debit and Prepaid Cards</a>
                    </li>
                    <li>
                        <a href="/credit-cards/">Credit Cards</a>
                    </li>
                    <li>
                        <a href="/foreign-exchange/">Foreign Exchange</a>
                    </li>
                    <li>
                        <a href="/international-remittances/">Global Remittance Services</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="fatNavTitle"></div>
                <ul>
                    <li>
                        <a href="/online-banking/">Online Banking</a>
                    </li>
                    <li>
                        <a href="/online-banking/bill-pay/">Online Bill Pay</a>
                    </li>
                    <li>
                        <a href="/online-banking/transfers/">Transfers</a>
                    </li>
                    <li>
                        <a href="/online-banking/statements/">Online Statements</a>
                    </li>
                    <li>
                        <a href="/mobile/">Mobile Banking</a>
                    </li>
                    <li>
                        <a href="/atm">ATM Services</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Your Financial Goals</h2>
            </div>
            <ul>
                <li>
                    <a href="/tax-center/">Tax Center</a>
                </li>
                <li>
                    <a href="/goals-banking-made-easy/index">Banking Made Easy</a>
                </li>
                <li>
                    <a href="/goals-protect-what-counts/">Protect What Counts</a>
                </li>
                <li>
                    <a href="/goals-retirement/">Planning for Retirement</a>
                </li>
                <li>
                    <a href="/privacy-security/fraud/">Fraud Information Center</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Popular Links</h2>
            </div>
            <ul>
                <li>
                    <a href="/mortgage/rates/?dm=DMIWFHPRAT">Mortgage Rates</a>
                </li>
                <li>
                    <a href="/help/routing-number/">Routing Number</a>
                </li>
                <li>
                    <a href="/checking/overdraft-services/">Overdraft Services</a>
                </li>
                <li>
                    <a href="/financial-assistance/">Get Help with Payment Challenges</a>
                </li>
                <li>
                    <a href="https://adfarm.mediaplex.com/ad/ck/1221-8226-3408-211">Open a Checking Account</a>
                </li>
                <li>
                    <a href="/products_services/applications_viewall">Apply for an Account or Service</a>
                </li>
            </ul>
        </div>
        <br style="clear: both" />
    </div>
    <div id="loans" class="navItem hide" aria-hidden="true" role="region" aria-labelledby="loansTab">
        <h2 class="hide">Loans and Credit</h2>
        <div class="navItemLeft">
            <div>
                <div class="fatNavTitle">
                    <h2>Accounts and Services</h2>
                </div>
                <ul>
                    <li>
                        <a href="/mortgage/">Mortgage Loans</a>
                    </li>
                    <li>
                        <a href="/equity/">Home Equity Loans</a>
                    </li>
                    <li>
                        <a href="/personal_credit/">Personal Lines and Loans</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="fatNavTitle"></div>
                <ul>
                    <li>
                        <a href="/student/">Student Loans</a>
                    </li>
                    <li>
                        <a href="/autoloans/">Auto Loans</a>
                    </li>
                    <li>
                        <a href="/credit-cards/">Credit Cards</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Your Financial Goals</h2>
            </div>
            <ul>
                <li>
                    <a href="/mortgage/home-loans">Home Lending</a>
                </li>
                <li>
                    <a href="/goals-going-to-college/">Going to College</a>
                </li>
                <li>
                    <a href="/goals-credit/">Borrowing and Credit</a>
                </li>
                <li>
                    <a href="/privacy-security/fraud">Fraud Information Center</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Popular Links</h2>
            </div>
            <ul>
                <li>
                    <a href="/mortgage/rates/?dm=DMIWFHPRAT">Mortgage Rates</a>
                </li>
                <li>
                    <a href="/equity/tools/rate_calc">Home Equity Rates</a>
                </li>
                <li>
                    <a href="/financial-assistance/">Get Help with Payment Challenges</a>
                </li>
                <li>
                    <a href="https://mywellsfargorewards.com">Rewards</a>
                </li>
                <li>
                    <a href="/jump/applications/inprogress">Finish Application/Check Status</a>
                </li>
                <li>
                    <a href="https://adfarm.mediaplex.com/ad/ck/1221-7304-3408-198">Student Loan Discounts</a>
                </li>
            </ul>
        </div>
        <br style="clear: both" />
    </div>
    <div id="insurance" class="navItem hide" aria-hidden="true" role="region" aria-labelledby="insuranceTab">
        <h2 class="hide">Insurance</h2>
        <div class="navItemLeft">
            <div>
                <div class="fatNavTitle">
                    <h2>Products and Services</h2>
                </div>
                <ul>
                    <li>
                        <a href="/insurance-auto-vehicle/auto/">Auto Insurance</a>
                    </li>
                    <li>
                        <a href="/insurance-auto-vehicle/vehicle/">Specialty Vehicle Insurance</a>
                    </li>
                    <li>
                        <a href="/insurance-life-health/life/">Life Insurance</a>
                    </li>
                    <li>
                        <a href="/insurance-life-health/health/">Health Insurance</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="fatNavTitle"></div>
                <ul>
                    <li>
                        <a href="/insurance-property/home/">Homeowners Insurance</a>
                    </li>
                    <li>
                        <a href="/insurance-property/renters/">Renters Insurance</a>
                    </li>
                    <li>
                        <a href="/insurance-identity-theft-protection/">Identity Theft Protection Plans</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Your Financial Goals</h2>
            </div>
            <ul>
                <li>
                    <a href="/goals-protect-what-counts/">Protect What Counts</a>
                </li>
                <li>
                    <a href="/goals-credit/">Borrowing and Credit</a>
                </li>
                <li>
                    <a href="/goals-retirement/">Planning for Retirement</a>
                </li>
                <li>
                    <a href="/mortgage/home-loans">Home Lending</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Popular Links</h2>
            </div>
            <ul>
                <li>
                    <a href="/jump/insurance/get-insurance-quotes">Get Insurance Quotes</a>
                </li>
                <li>
                    <a href="/insurance-why">Why Wells Fargo Insurance</a>
                </li>
                <li>
                    <a href="/biz/insurance/">Small Business Insurance</a>
                </li>
                <li>
                    <a href="https://wfis.wellsfargo.com/">Commercial Insurance</a>
                </li>
                <li>
                    <a href="/investing/hsa/">Health Savings Accounts (HSA)</a>
                </li>
            </ul>
        </div>
        <br style="clear: both" />
    </div>
    <div id="investing" class="navItem hide" aria-hidden="true" role="region" aria-labelledby="investingTab">
        <h2 class="hide">Investing and Retirement</h2>
        <div class="navItemLeft">
            <div>
                <div class="fatNavTitle">
                    <h2>Ways to Invest</h2>
                </div>
                <ul>
                    <li>
                        <a href="/investing/invest-online">Invest Online</a>
                    </li>
                    <li>
                        <a href="/investing/guidance/">Invest With Guidance</a>
                    </li>
                    <li>
                        <a href="/investing/mutual-funds">Invest in Mutual Funds</a>
                    </li>
                    <li>
                        <a href="/investing/compare-ways-to-invest">Compare Ways to Invest</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="fatNavTitle">
                    <h2>Investing Solutions</h2>
                </div>
                <ul>
                    <li>
                        <a href="/investing/retirement/ira">IRAs</a>
                    </li>
                    <li>
                        <a href="/investing/investment-services">Investment Services</a>
                    </li>
                    <li>
                        <a href="/investing/retirement/rollover/">Rollovers (401k and IRA)</a>
                    </li>
                    <li>
                        <a href="/investing/hsa/">Health Savings Accounts (HSA)</a>
                    </li>
                    <li>
                        <a href="/investing/education">Investing for Education</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Your Financial Goals</h2>
            </div>
            <ul>
                <li>
                    <a href="/goals-retirement/">Planning for Retirement</a>
                </li>
                <li>
                    <a href="/goals-retirement-income/">Income in Retirement</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Popular Links</h2>
            </div>
            <ul>
                <li>
                    <a href="/investing/guidance/consultation-10">Contact a Financial Advisor</a>
                </li>
                <li>
                    <a href="/investing/retirement/ira/select">Open an IRA</a>
                </li>
                <li>
                    <a href="/wf/product/apply?prodSet=APP2K&prodCode=WFOR-WFOR&language=en">Open a WellsTrade® Account</a>
                </li>
                <li>
                    <a href="/investing/retirement/ira/traditional-or-roth-ira">Compare IRAs</a>
                </li>
                <li>
                    <a href="/investing/retirement/tools/my-retirement-plan">My Retirement Plan</a>
                </li>
                <li>
                    <a href="/retirementplan">Employer Plan 401(k) Sign On</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="wealth" class="navItem hide" aria-hidden="true" role="region" aria-labelledby="wealthTab">
        <h2 class="hide">Wealth Management</h2>
        <div class="navItemLeft">
            <div>
                <div class="fatNavTitle">
                    <h2>Wealth Services</h2>
                </div>
                <ul>
                    <li>
                        <a href="/theprivatebank/">The Private Bank</a>
                    </li>
                    <li>
                        <a href="/investing/wells-fargo-advisors">Wells Fargo Advisors</a>
                    </li>
                    <li>
                        <a href="/abbot-downing/">Abbot Downing</a>
                    </li>
                    <li>
                        <a href="/wealth-management-services">All Wealth Management Services</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="fatNavTitle">
                    <h2>Wealth Solutions</h2>
                </div>
                <ul>
                    <li>
                        <a href="/theprivatebank/oursolutions/wealthplanning">Wealth Planning</a>
                    </li>
                    <li>
                        <a href="/theprivatebank/oursolutions/privatebanking">Private Banking</a>
                    </li>
                    <li>
                        <a href="/theprivatebank/oursolutions/investments">Investments</a>
                    </li>
                    <li>
                        <a href="/theprivatebank/oursolutions/specializedwealthsolutions">Specialized Solutions</a>
                    </li>
                    <li>
                        <a href="/theprivatebank/oursolutions/trustsolutions">Trust Solutions</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Wealth Advice and Guidance</h2>
            </div>
            <ul>
                <li>
                    <a href="https://www.wealthmanagementinsights.com/">Wealth Management Insights Center</a>
                </li>
                <li>
                    <a href="https://www.wfconversations.com/">Conversations Magazine</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="fatNavTitle">
                <h2>Next Step</h2>
            </div>
            <ul>
                <li>
                    <a href="/theprivatebank/contact">Contact The Private Bank</a>
                </li>
                <li>
                    <a href="/investing/guidance/consultation-10">Contact Wells Fargo Advisors</a>
                </li>
                <li>
                    <a href="https://www.abbotdowning.com/contact_us/">Contact Abbot Downing</a>
                </li>
            </ul>
        </div>
    </div>*@
    <div id="renderPage">
        @RenderBody()
    </div>
    <div id="body">
        <br />
        <br />

    </div>
</body>
</html>
